{% extends 'journal_app/base.html' %}
{% load  bootstrap4  %}

{% block header %}
  <h2><a href="{% url 'topic' topic.id %}">{{topic}}</a></h2>
  <h2>Edit entry:</h2>
{% endblock header %}

{% block content %}
  <form action="{% url 'edit_entry' entry.id %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button name="submit" class="btn btn-dark font-weight-bold">Save changes</button>
    {% endbuttons %}
  </form>
{% endblock content %}